@model IEnumerable<Actividad4LengProg3.Models.Materia>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

<h4>Lista de Materias</h4>

<a asp-action="Registrar" class="btn btn-primary mb-3">Nueva Materia</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Carrera</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Codigo</td>
                <td>@m.Nombre</td>
                <td>@m.Creditos</td>
                <td>@m.Carrera</td>
                <td>
                    <a asp-action="Editar" asp-route-codigo="@m.Codigo" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Eliminar" asp-route-codigo="@m.Codigo" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
